<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder">
        <Directory Id="AUTODESKFOLDER" Name="!(loc.AutodeskFolder)">
          <Directory Id="APPLICATIONPLUGINSFOLDER" Name="!(loc.ApplicationPluginsFolder)">
            <Directory Id="ADDINFOLDER" Name="!(loc.ProductFolder)">
              <Directory Id="TEMPLATESFOLDER" Name="!(loc.TemplatesFolder)">
              </Directory>
              <Directory Id="LOGSFOLDER" Name="!(loc.LogsFolder)">
              </Directory>
              <Directory Id="RESOURCESFOLDER" Name="!(loc.ResourcesFolder)"/>
              <Directory Id="CONTENTSFOLDER" Name="!(loc.ContentsFolder)">
                <Directory Id="R2017FOLDER" Name="!(loc.R2017Folder)" />
                <Directory Id="R2018FOLDER" Name="!(loc.R2018Folder)" />
                <Directory Id="R2019FOLDER" Name="!(loc.R2019Folder)" />
                <Directory Id="R2020FOLDER" Name="!(loc.R2020Folder)" />
                <Directory Id="R2021FOLDER" Name="!(loc.R2021Folder)" />
                <Directory Id="R2022FOLDER" Name="!(loc.R2022Folder)" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
