<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define UpgradeCode ="{C8887281-E5B1-4B69-AEE1-2EC86A49CA4F}"?>
  <?define buildVersion ="!(bind.FileVersion.NinaDllFile_2020)"?>

  <Product Id="*"
				 Name="!(loc.ProductName)"
				 Language="!(loc.Language)"
         Version="$(var.buildVersion)"
         Manufacturer="!(loc.CompanyName)"
         UpgradeCode="$(var.UpgradeCode)"
>
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer ="!(loc.CompanyName)"
             Description ="!(loc.Description)"
             Keywords ="!(loc.Keywords)"
             Languages ="!(loc.Language)"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of !(loc.ProductName_) is already installed." />
    <MediaTemplate
      EmbedCab ="yes"
      />

    <Feature Id="ProductFeature" Title="ProductName v.$(var.buildVersion)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>
W</Wix>
