<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?if $(var.Platform)=x64?>
  <?define ProductCode = "{0D6D13AD-E7E9-4D38-8058-ECA9034CA1D7}"?>
  <?else?>
  <?define ProductCode ="{5C76D420-90CB-4211-9BA4-7AA1443DEB9A}"?>
  <?endif?>

  <?define buildVersion = 1.0.0.0?>
  <?define UpgradeCode ="{5C76D420-90CB-4211-9BA4-7AA1443DEB9A}"?>

  <Product Id="$(var.ProductCode)"
				 Name="!(loc.ProductName_$(var.Platform))"
				 Language="!(loc.Language)"
         Version="$(var.buildVersion)"
         Manufacturer="!(loc.CompanyName)"
         UpgradeCode="$(var.UpgradeCode)"
>
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer ="!(loc.CompanyName)"
             Description ="!(loc.Description)"
             Keywords ="!(loc.Keywords)"
             Languages ="!(loc.Language)"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of !(loc.ProductName_) is already installed." />
    <MediaTemplate
      EmbedCab ="yes"
    />
    <Feature Id="ProductFeature" Title="ProductName_ Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>
</Wix>