<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nina.NinaSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nina.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nina.NinaSettings>
            <setting name="LogsDirectory" serializeAs="String">
                <value>C:\ProgramData\Autodesk\ApplicationPlugins\Nina.bundle\Logs</value>
            </setting>
        </Nina.NinaSettings>
        <Nina.Settings>
            <setting name="LogDirectory" serializeAs="String">
                <value>C:\ProgramData\Autodesk\ApplicationPlugins\Nina.bundle\Logs</value>
            </setting>
            <setting name="Nina" serializeAs="String">
                <value>1.3.0</value>
            </setting>
            <setting name="CreateWallType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WallTypePrefix" serializeAs="String">
                <value>Nina_</value>
            </setting>
            <setting name="ViewRangeStep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WallTypeSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="Tolerance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ViewRangeTopBottom" serializeAs="String">
                <value>False</value>
            </setting>
        </Nina.Settings>
    </userSettings>
</configuration>